@import "tailwindcss";

@theme {
    --color-peach: #fab387;
    --color-mauve: #ca9ee6;
    --color-green: #a6da95;
    --color-blue: #8aadf4;
    --color-gray: #cad3f5;
    --color-pink: #f5bde6;
    --color-red: #ed8796;

    --color-pinkd: #ea76cb;
    --color-peachd: #fe640b;
    --color-mauved: #c6a0f6;
    --color-greend: #40a02b;
    --color-blued: #04a5e5;
    --color-redd: #d20f39;

}